
@import url(style.css);

/* ---------------- */
/* ---- HEADER ---- */
/* ---------------- */

@keyframes toggler-open {
    0% {transform: translateX(100vw);}
    25% {transform: translateX(50vw);}
    50% {transform: translateX(-5vw);}
    75% {transform: translateX(5vw);}
    100% {transform: translateX(0vw);}
}

@keyframes toggler-close {
    0% {transform: translateX(0vw);}
    25% {transform: translateX(5vw);}
    50% {transform: translateX(-5vw);}
    75% {transform: translateX(50vw);}
    100% {transform: translateX(100vw);}
}

header{
    background-color: #4ABDF2;
    background-image: url(../img/banner.png);
    background-position: center 40px;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 30px 0;
}

.nav__brand{
    width: 123px;
    height: 24px;
}

.nav__brand a{
    width: 100%;
    height: 100%;
}

.nav__menu{
    position: absolute;
    width: 100%;
    background-color: var(--bg_color);
    top: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 40px;
    z-index: 10;
    transform: translateX(100vw);
    clip-path: polygon(0 2.7rem, 92% 2.7rem, 100% 0, 100% 100%, 0 100%);

    /* animation-name: toggler-close;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
}

.menu .nav__menu{
    animation-name: toggler-open;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform: translateX(0vw);
}

.nav__link{
    font-family: var(--Barlow);
    font-weight: 600;
    font-size: 2rem;
    line-height: 25px;
    color: var(--text_color);
    margin-bottom: 32px;
}

.toggler{
    width: 25px;
    height: 20px;
    background: transparent;
    background-image: url(../icons/burger.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* ---------------- */
/* ---- BANNER ---- */
/* ---------------- */

@keyframes vector{
     0% {transform: scale(1.00);}
    10% {transform: scale(1.02);}
    20% {transform: scale(1.04);}
    30% {transform: scale(1.06);}
    40% {transform: scale(1.08);}
    50% {transform: scale(1.10);}
    60% {transform: scale(1.08);}
    70% {transform: scale(1.06);}
    80% {transform: scale(1.04);}
    90% {transform: scale(1.02);}
    100% {transform: scale(1.00);}
    
}

.banner{
    padding-top: 60px;
    padding-bottom: 135px;
}

.vector{
    width: 30px;
    height: 110px;
    margin: 0 auto;
    margin-top: 50px;
    animation-name: vector;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* ----------------- */
/* ---- CONTENT ---- */
/* ----------------- */

.block{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block__img{
    width: 100%;
    height: 313px;
    /* background-color: #F9D70C; */
    text-align: center;
}

.block:nth-child(2) .block__img{
    background: linear-gradient(90deg, #ff8070f2, #ff5d4ff5);
}

.block__text{
    width: 327px;
    padding: 65px 0;
    text-align: center;
}

.block__text p{
    margin-top: 25px;
    margin-bottom: 30px;
}

.block__link{
    display: inline-block;
    font-family: var(--Fraunces);
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 25px;
    color: var(--heading_color);
    position: relative;
}

.block__link::before{
    content: '';
    width: calc(100% + 10px);
    height: 50%;
    background-color: #FEF2BA;
    position: absolute;
    border-radius: 20px;
    bottom: 0;
    left: -5px;
    z-index: -1;
}

.block:nth-child(2) .block__link::before{
    background-color: #FFDBD4;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    width: 100%;
    padding-top: 400px;
    padding-bottom: 60px;
    background-image: url(../img/cherry.png);
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.apelsin{
    background-image: url(../img/apelsin.png);
}

.wrap{
    width: 327px;
    margin: 0 auto;
    text-align: center;
    transform: translateY(10px);
}

.card h3{
    margin-bottom: 30px;
    color: #24554A;
}

.card p{
    font-size: 1.6rem;
    line-height: 27px;
    color: #24554A;;
}

/* ------------------ */
/* -- TESTIMONIALS -- */
/* ------------------ */

.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 20px;
}

#strong{
    font-family: var(--Fraunces);
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    color: var(--feedback-data_color);
    letter-spacing: 4px;
    margin-bottom: 65px;
}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 65px;
    color: var(--feedback-text_color);
}

.user__avatar{
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.user__name{
    font-family: var(--Fraunces);
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 22px;
}

.user__job{
    font-family: var(--Barlow);
    font-weight: 600;
    display: block;
    font-size: 1.4rem;
    line-height: 25px;
    color: var(--feedback-data_color);
    margin-top: 10px;
}

.pictures{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.picture{
    flex: 1 0 50%;
    height: 188px;
}

/* ---------------- */
/* ---- FOOTER ---- */
/* ---------------- */

footer{
    background-color: var(--footer-bg_color);
    padding-top: 65px;
    padding-bottom: 80px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
}

.footer__logo{
    display: inline-block;
    width: 170px;
    height: 33px;
    margin-bottom: 40px;
}

.footer__menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.footer__link{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 25px;
    color: var(--footer-link_color);
}

.footer__icon{
    display: flex;
    align-items: center;
}

.icon__item{
    margin-right: 30px;
}

.icon__item:last-child{
    margin-right: 0px;
}

.fab{
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
    color: var(--footer-link_color);
}